/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-color: #7dbdf2;
    --text-color: #ffffff;
}

h1 {
    font-family: 'Twinkle Star', cursive;
    color: var(--text-color);
}
h2, h3, h4, p, a, label, .submit {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}

/* BODY */
body {
    display: grid;
    grid-template-areas:
        "header header header";
    
    background-color: var(--main-color);
}
/* header */
header {
    grid-area: header;
    text-align: center;
}
header>img {
    display: inline;
    height: 99px;
    width: 70px;
}
header>h1 {
    display: inline;
}
header>nav>a {
    margin: 0 15px;
}



/* MEDIA SCREEN */
@media screen and (min-width: 1000px) {
    /* GENERAL */
    h1 {
        font-size: 100px;
    }
    /* header */
    header>img {
        height: 148.5px;
        width: 105px;
    }
    header>nav {
        position: fixed;
    }
    header>nav>a {
        margin: 0;
        padding: 5px 110px;
        font-size: 30px;
        border-radius: 10px;
        transition: background-color .5s ease;
    }
    header>nav>a:hover {
        background-color: var(--text-color);
        color: var(--main-color);
    }
}