/* ---------- GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}
@font-face {
    font-family: "adelia" ;
    src: url(../font/adelia.ttf);
}
:root {
    --main-color: #7dbdf2;
    --text-color: #ffffff;
}
h1 {
   font-family: "adelia";
    color: var(--text-color);
}
h2, h3, h4, p, a, label, .submit {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}
/* ---------- BODY */
body {
    background-color: var(--main-color);
}
/* -----  header */
header {
    position: relative;
    top: 40px;
    text-align: center;
}
header>img {
    display: none;
    height: 99px;
    width: 70px;
}
header>h1 {
    font-size: 30px;
    display: inline;
}
header>nav>a {
    font-size: 26px;
    margin: 0 15px;
}
/* ----- portfolio */
#portfolio {
    display: flex;
    overflow: scroll;
    text-align: center;
    margin: 30px auto;
}
#portfolio>img {
    display: inline;
    height: 427.92px;
    width: 427.92px;
    margin: 10px;
    border-radius: 15px;
}
/* ----- books */
#books {
    position: relative;
    margin: 30px auto;
}
#books h2 {
    font-size: 26px;
    margin: 20px;
}
#books article a img {
    /* position: relative; */
    display: block;
    margin: auto;
    height: 288px;
    width: 288px;
}
#book2 {
    height: 288px;
    width: 288px;
}
#books article p {
    position: relative;
    top: -60px;
    text-align: center;
    /* background-color: var(--text-color); */
    color: var(--text-color);
    border-radius: 50px;
}
/* ----- interview */
#interview h2 {
    font-size: 26px;
    margin: 20px;
}
#interview img {
    display: none;
}
#interview p {
    height: 300px;
    width: 490px;
    overflow: auto;
    padding-left: 15px;
    text-align: left;
}
#interview p strong {
    color: yellow
}

/* FOOTER */
footer {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    text-align: center;
    border-top: solid 1px var(--text-color);

}
@media screen and (min-width: 768px) {
    header>h1 {
        font-size: 60px;
    }
     header>img {
        height: 148.5px;
        width: 105px;
    }
    /*header>nav>a {
        margin: 0;
        padding: 5px 110px;
        font-size: 30px;
        border-radius: 10px;
        transition: background-color .5s ease;
    }
    header>nav>a:hover {
        background-color: var(--text-color);
        color: var(--main-color);
    } */
    /* --- portfolio */
    /* #portfolio {
        margin-top: 50px;
    } */
    /* --- books */
    /* #books>img {
        display: inline;
        height: 400px;
        width: 400px;
        margin: 0;
    } */
}

@media screen and (min-width: 992px) {
    header>h1 {
        font-size: 60px;
    }
     header>img {
        height: 148.5px;
        width: 105px;
    }
}