<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>books</title>
</head>

<body>
    <header>
        <div class='banniere'>

            <img src='./images/fille3.png' alt='dessin'>

            <a href='index.html'>
                <h1>Maylis Illustrations</h1>
            </a>

            <img src='./images/famille1.png' alt='famille'>

        </div>

        <nav>

            <a href='index.html'>dessins</a>
            <a href='books.html'>livres</a>
            <a href='interview.html'>me connaitre</a>
            <a href='mailto:maylis.clerget@icloud.com'>contact</a>
            <a href='https://www.instagram.com/maylis.illustrations/?hl=en' target='_blank'><i
                    class='fab fa-instagram'></i></a>

        </nav>
        <!-- <?php include "header.php" ?> -->
    </header>


    <section id="books">

        <a href="https://www.ztl-editions.fr/ouvrages-pour-toutes-et-pour-tous/9-la-ferme-de-tom.html"
            target="_blank"><img class="book1" src="./images/ferme_tom.jpg"
                alt="livre la ferme de Tom"><span>commander</span></a>

        <a href="https://www.editions-persee.fr/catalogue/contes/au-temps-des-origines/#.YaXWmfHMK3I"
            target="_blank"><img class="book2" src="./images/temps_des_origines.jpg"
                alt="livre au temps des origines"><span>commander</span></a>


    </section>


    <footer>
        <!-- <?php include "footer.php" ?> -->

        <div class="horizontale_divider"></div>

        <p class="domaine">Maylis Illustrations</p>

        <div class="link">
            <a class="condition" href="">Condition d'utilisation</a>
            <a class="politique" href="">Politiques de Confidentialité</a>

        </div>

        <p class="copyright">© 2021 Maylis Illustrations | Maylis</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="javascript/script.js"></script>
</body>

</html>