<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>interview</title>
</head>

<body>
    <header>
        <div class='banniere'>

            <img src='./images/fille3.png' alt='dessin'>

            <a href='index.html'>
                <h1>Maylis Illustrations</h1>
            </a>

            <img src='./images/famille1.png' alt='famille'>

        </div>

        <nav>

            <a href='index.html'>dessins</a>
            <a href='books.html'>livres</a>
            <a href='interview.html'>me connaitre</a>
            <a href='mailto:maylis.clerget@icloud.com'>contact</a>
            <a href='https://www.instagram.com/maylis.illustrations/?hl=en' target='_blank'><i
                    class='fab fa-instagram'></i></a>

        </nav>
        <!-- <?php include "header.php" ?> -->
    </header>

    <section id="interview">

        <img src="./images/ marque-page.jpg" alt="dessin">

        <div class="paragraph">
            <p><strong>Comment es-tu devenue illustratrice jeunesse ?</strong>
                <br>
                J'ai toujours aimé dessiner et l'univers de la littérature enfantine me passionne ! Je peux passer des
                heures dans une librairie à feuilleter les livres d'illustration jeunesse. Depuis que je suis maman, mes
                enfants sont une véritable source d'inspiration pour moi, c'est donc tout naturellement que je me suis
                tournée vers ce style de dessin !
                <br><br>
                <strong>Comment est où travailles-tu ?</strong>
                <br>
                Très souvent je crayonne sur mon canapé, devant un film, une couverture sur les genoux et une tablette
                de chocolat jamais bien loin. Pour la numérisation et la colorisation je travaille sur l'ordinateur. Je
                m'installe donc plus sérieusement à mon bureau.
                <br><br>
                <strong>As-tu un autre métier ?</strong>
                <br>
                Oui, je suis aide-soignant.
                <br><br>
                <strong>Quelles sont tes plaisirs à être illustrastrice jeunesse ? Tes grandes joies ?</strong>
                <br>
                J'aime découvrir petit à petit l'êvolution de mon dessin. Commencer par un trait au milieu d'une feuille
                blanche sans savoir comment sera l'aspect final ! Mon grand plaisir est de dessiner mes enfants dans des
                scènes rigolotes et parfois touchantes du quotidien !
                <br><br>
                <strong>Que veux-tu transmettre à travers tes livres ?</strong>
                <br>
                La gaieté et la tendresse de l'enfance.
                <br><br>
                <strong>Qui sont tes premiers lecteurs</strong>
                <br>
                Mon mari et mes deux garçons. Ces derniers sont mes plus grand fan ! Ils aiment s'installer à coté de
                moi lorsque je dessine et me donner leurs avis et conseils (qui sont précieux pour moi !). Je dis
                souvent que ce sont mes "petits inspecteurs des travaux finis".
                <br><br>
                <strong>Qu'as-tu aimé en illustrant "La Ferme de Tom"</strong>
                <br>
                M'immerger dans l'univers de la ferme ! Je vis à la campagne, c'est donc un milieu qui me parle, que
                j'affectionne beaucoup et que j'aime particulièrement dessiner !
            </p>
        </div>

    </section>


    <footer>
        <!-- <?php include "footer.php" ?> -->

        <div class="horizontale_divider"></div>

        <p class="domaine">Maylis Illustrations</p>

        <div class="link">
            <a class="condition" href="">Condition d'utilisation</a>
            <a class="politique" href="">Politiques de Confidentialité</a>

        </div>

        <p class="copyright">© 2021 Maylis Illustrations | Maylis</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="javascript/script.js"></script>
</body>

</html>